<% if current_user?(object.user) %>
  <span style="float: right">
  <%= link_to "edit", edit_task_path(object), class: "btn btn-warning btn-small" %>
  <%= link_to "delete", object, method: :delete,
                                data: { confirm: "You shure?" },
                                title: object.content,
                                class: 'btn btn-danger btn-small' %>
  </span><br><br>
<% else %>
  <% if current_user.following?(object) %>
    <%= render 'shared/refuse', object: object %>
  <% else %>
    <%= render 'shared/implementation', object: object %>
  <% end %>
<% end %>