<h1>
  <i class="icon-user"></i>
  <b><%= "#{current_user.name}" %></b>
</h1>
<span>
  <%= link_to "view my profile", current_user, class: 'btn btn-small' %>
</span>
<span>
  <i class="icon-tasks"></i>
  <%= pluralize(current_user.tasks.count, "task") %>
</span>