<h1>
  <b>
    <%= "#{current_user.name}" %>
  </b><br>
  <b>
    <%= "#{current_user.email}" %>
  </b>
</h1>
<span>
  <%= pluralize(current_user.tasks.count, "task") %>
</span>
<span>
  <%= link_to "View my profile", current_user, class: 'btn btn-small' %>
</span>
